[tool.poetry]
name = "heinlein"
version = "0.2.3"
description = "Library for interacting with large astronomical survey datasets"
authors = ["Patrick Wells <pwells@ucdavis.edu>"]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.23.1"
pymongo = "^4.2.0"
Shapely = "^1.8.2"
pandas = "^1.4.3"
astropy = "^5.1"
appdirs = "^1.4.4"
portalocker = "^2.5.1"
spherical-geometry = "^1.2.22"
dynaconf = "^3.1.9"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
heinlein = "heinlein.entrypoint:delegate_command"
